@charset "UTF-8";
/* calenddar option */
  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
  	width: 450px;
    max-width: 550px;
    font-size: 9px;
  }
  

/* 중복 되는 부분 */
.notice-only-table, 
.classBoard-only-table {
	border: 1px solid gray;
	border-left: none;
	border-right: none;
	width: 400px;
	height: 100px;
}

/* 공지사항 및 학급게시판 부분 css */
.notice-area, 
.classBoard-area {
	margin : 33px 0px 0px 30px;
}


.notice-only-table,
.classBoard-only-table {
	margin-bottom: 15px;
}

.notice-only-table td,
.classBoard-only-table td {
	border-top: 1px solid gray;
}

/* myinfo-area */
.myinfo-area {
	margin-left:15px;
}

/* 공지사항 및 학급게시판 더보기 css */
.more-list-text {
	float: right;
	margin-bottom: 5px;
	font-size: 13px;
	text-decoration: none;
}

.nh-list-title {
	text-decoration: none;
	color : black;
}

.class-board-icon {
	width : 14px;
}

/* th text position 조정*/
.th-text-position {
	text-align: left;
	padding-left : 10px;
}

/* 학사 일정 */
.school-events {
	width: 300px;
	height: 300px;
	border : 1px solid gray;
}

/* 내정보 박스 css */
.today-box{
	border:2px solid #77B0BF;
	width:300px;
	height:320px;
	margin:30px 0px;
	padding:32px;
}

.all-area {
	display: flex;
}

.main-board-area {
	display: flex;
	flex-wrap: wrap;
}

.main-first-top,
.main-second-bottom {
	display:flex;
	justify-content: space-around;
}

/* 캘린더 학사일정 css*/
.calendar-area {
	margin-left: 30px;
}

.school-events-area {
	margin-left : 80px;
}

