@charset "UTF-8";

* {
	font-family: 'Pretendard', 'Roboto', 'sans-serif';
}

body {
	background-color: white;
}

.box {
	width: 250px;
	height: auto;
	margin: 100px auto;
	padding: 30px;	
	border: 1px solid rgba(0,0,0,0.2);
}

form {
	display: inline-block;
}

h3 {
	text-align: center;
	color: #505050;
	font-weight: bolder;
	font-size: 20px;
}

h4 {
	text-align: center;
	color: #505050;
	font-weight: bolder;
	font-size: 17px;
}

section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.find-name, .find-phone {
	display: block;
}

.find-phone {
	display: block;
	margin: 0 0 5px 0;
}

.form-search label {
	width: 100%;
	margin: 0 0 0 4px;
}

.pa_name {
	display:block;
}

.child {
	display: inline-block;
	width: 65%;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	padding: 7px 20px 5px 10px;
	margin: 10px 0;
	background: none;
}

.inner,
.input_inner {
	width: 18%;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 13px;
    background: white;
    text-align: center;
    height: 33px;
    position: relative;
    bottom: 2px;
    margin: 3px;
    padding: 5px;
}

.find-name span {
	display: inline-block;
	font-size: 13px;
	margin-bottom: 3px;
	padding: 5px;
	color: red;
	}

.btn-name, .btn-phone {
	display: inline-block;
	width: 90%;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	padding: 7px 20px 5px 10px;
	margin: 10px 0;
	background: none;
}

.btnSearch {
	margin: 10px;
}

.btnSearch button {
	width: 47%;
	float: left;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-size: 13px;
	border-radius: 30px;
	background-color: black;
	color: white;
}

.btnSearch input {
	width: 47%;
	float: right;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-size: 13px;
	border-radius: 30px;
	background-color: black;
	color: white;
}

.class div {
	display: block;
	width: 100%;
	padding: 10px;
	margin: auto;
}

.check, .check2 {
	display: block;
	margin-top: 30px;
	padding: 15px;
}

.check label, .check2 label {
	display: inline-block;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
	margin-bottom: 1px;
	text-align: center;
}

.btn-return {
	border-radius: 15px;
 	width: 100%;
 	padding: 10px 10px;
  	margin: 18px auto;
  	float: centar;
  	background-color: black;
  	color: white;
}
