@charset "UTF-8";

:root {
	--underline-height: .5em;
	--transition-duration : .5s;
}

* {
	font-family: 'Pretendard', 'Roboto', 'sans-serif';
}

.bg-color,
.box .login-div,
.bi { background-color: #77B0BF;}


.box {
	width: 450px;
	height: auto;
    margin: 30px auto;
    padding: 30px;
    position: relative;
}

.login-div {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	padding: 30px;
	text-align: center;
}

.box h2 {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: 'Hi Melody', cursive;
	font-size : 46px;
}

.logo {
	display: inline-block;
	background-color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 20%;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}

.logo img {
	width: 100%;
}

.nav-div {
	display: block;
	width: 450px;
	height: 100px;
  	margin: 10px auto;
}

.black {
	display: block;
	margin: 30px;
	width: 100%;
}

.navigation {
	width: 100%;
	text-align: center;
	background: white;
	background-color: black;
	border-radius: 15px;
	font-size: 18px;
	height: 100px;
	padding-top: 19px;
}

.a-left {
	width: 200px;
	float: left;
}

.a-right {
	width: 200px;
	float: right;
}

a {
  z-index: 10;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.box form {
	margin-top: 10px;
	margin-bottom: 15px;
    padding: 30px;
}

.form-group {
	width: 450px;
	height: auto;
	margin-top: -50px;
	background: white;
	color: #000;
	border-radius: 30px;
	z-index: 1000;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
	padding: 30px;
	margin-bottom: 50px;
}

.form-group input {
	font-size: 18px;
	padding: 10px 20px 10px 5px;
}

.username_wrap, .name_wrap, .password_wrap, .password_chk_wrap, .email_wrap, .phonenumber_wrap, .multi-input {
	display: block;
	width: 100%;
	padding: 10px 10px auto;
	margin: 10px auto;
}

.name, .pass, .pass-ck, .email, .phone, .add, .birth {
	display: inline-block;
	width: 90%;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	padding: 7px 20px 5px 10px;
	margin: 10px 0;
	background: white;
}

.id, .post {
	display: inline-block;
	width: 71%;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	padding: 7px 20px 5px 10px;
	margin: 10px 0;
	background: white;
}

label {
	width: 100%;
	display: inline-block;
	font-weight: bolder;
}

.inner, .checkId {
	width: 20%;
	height : 37px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.2);
	font-size: 14px;
	margin: 10px 0;
	background: white;
	text-align: center;
}

.custom-input input {
	display: block;
	width: 100%;
}

.checked {
	width: 100%;
	margin: 10px;
}

.signin-btn button {
	width: 100%;
	padding: 12px 10px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	font-size: 18px;
	font-weight: bolder;
	border-radius: 30px;
	background-color: #Ffce9c;
	color: #fff7e3;
}

button.signin-btn:hover {
	background-color: 5b6baa;
}

