@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

body {
	background-image: url('/stc/img/clouds.png');
}

.popup_header {
	margin-left : 7px;
	text-align: center;
	font-family: 'Hi Melody', cursive;
	font-size : 55px;
}

.popup_list_area {
	border: 1px solid lightgray;
	border-radius: 4px;
	border-bottom : none;
}

.popup_list_box {
	display: flex;
	align-items : center;
	padding-left : 10px;
	height : 44px;
	margin-bottom : 8px;
	border-bottom : 1px solid lightgray;
	background-color : white;
	border-radius: 4px;
}

.ed-icons {
	height : 16px;
	border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 5px;
    margin-top : 2px;
}

.popup_list_box a {
	text-decoration: none;
	font-size : 14px;
	color : black;
}

.ck_box {
	display: flex;
    justify-content: space-between;
}

.first-box input,
.first-box label,
.second-box button{
	cursor: pointer;
}
.second-box {
	margin-right: 4px;
}

.first-box label {
	font-size : 13px;
}
#close {
	border-radius: 4px;
    border: none;
    background-color: white;
}