@charset "UTF-8";

.replyDeleteBtn,
.replyUpdateBtn {
  	display: inline-block;
	width: 50px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;

	outline: none;
}
button.replyDeleteBtn,
button.replyUpdateBtn {
	background-color: #59b1eb;
	border: 2px solid #ffffff;
	color: #fff;

}

button:active,
button:hover,
button:focus {
  background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

/* percent */
.perc5 {
	width: 5%;
}

.perc10 {
	width: 10%;
}

.perc15 {
	width: 15%;
}

.perc20 {
	width: 20%;
}

.perc40 {
	width: 40%;
}

.perc50 {
	width: 50%;
}

.perc60 {
	width: 60%;
}

.perc70 {
	width: 70%;
}

.perc80 {
	width: 80%;
}

.perc100 {
	width: 100%;
}


